<tables>
    <!-- Locations of all fasta files under genome directory -->
    <table name="defuse_reference" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/defuse_reference.loc" />
    </table>
</tables>
