<!-- Use the file tool_data_table_conf.xml.oldlocstyle if you don't want to update your loc files as changed in revision 4550:535d276c92bc-->
<tables>
    <!-- Locations of indexes in the 2bit format -->
    <table name="twobit" comment_char="#" allow_duplicate_entries="False">
        <columns>value, path</columns>
        <file path="tool-data/twobit.loc" />
    </table>
</tables>
